In [19]:
import pandas as pd
import numpy as np

In [20]:
df=pd.read_csv("loan_approval_dataset.csv")

In [21]:
print(df.head())

   loan_id   no_of_dependents      education  self_employed   income_annum  \
0        1                  2       Graduate             No        9600000
1        2                  0   Not Graduate            Yes        4100000
2        3                  3       Graduate             No        9100000
3        4                  3       Graduate             No        8200000
4        5                  5   Not Graduate            Yes        9800000

    loan_amount   loan_term   cibil_score   residential_assets_value  \
0      29900000          12           778                    2400000
1      12200000           8           417                    2700000
2      29700000          20           506                    7100000
3      30700000           8           467                   18200000
4      24200000          20           382                   12400000

    commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                  17600000              22700000            8000000
1                   2200000               8800000            3300000
2                   4500000              33300000           12800000
3                   3300000              23300000            7900000
4                   8200000              29400000            5000000

   loan_status
0     Approved
1     Rejected
2     Rejected
3     Rejected
4     Rejected

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB
None

In [23]:
print(df.describe())

           loan_id   no_of_dependents   income_annum   loan_amount  \
count  4269.000000        4269.000000   4.269000e+03  4.269000e+03
mean   2135.000000           2.498712   5.059124e+06  1.513345e+07
std    1232.498479           1.695910   2.806840e+06  9.043363e+06
min       1.000000           0.000000   2.000000e+05  3.000000e+05
25%    1068.000000           1.000000   2.700000e+06  7.700000e+06
50%    2135.000000           3.000000   5.100000e+06  1.450000e+07
75%    3202.000000           4.000000   7.500000e+06  2.150000e+07
max    4269.000000           5.000000   9.900000e+06  3.950000e+07

         loan_term   cibil_score   residential_assets_value  \
count  4269.000000   4269.000000               4.269000e+03
mean     10.900445    599.936051               7.472617e+06
std       5.709187    172.430401               6.503637e+06
min       2.000000    300.000000              -1.000000e+05
25%       6.000000    453.000000               2.200000e+06
50%      10.000000    600.000000               5.600000e+06
75%      16.000000    748.000000               1.130000e+07
max      20.000000    900.000000               2.910000e+07

        commercial_assets_value   luxury_assets_value   bank_asset_value
count              4.269000e+03          4.269000e+03       4.269000e+03
mean               4.973155e+06          1.512631e+07       4.976692e+06
std                4.388966e+06          9.103754e+06       3.250185e+06
min                0.000000e+00          3.000000e+05       0.000000e+00
25%                1.300000e+06          7.500000e+06       2.300000e+06
50%                3.700000e+06          1.460000e+07       4.600000e+06
75%                7.600000e+06          2.170000e+07       7.100000e+06
max                1.940000e+07          3.920000e+07       1.470000e+07

In [24]:
df.columns=df.columns.str.strip()

In [25]:
df=df.drop('loan_id',axis=1)
df['total_assets_value']=df['residential_assets_value']+df['commercial_assets_value']+df['luxury_assets_value']+df['bank_asset_value']
df=df.drop('residential_assets_value',axis=1)
df=df.drop('commercial_assets_value',axis=1)
df=df.drop('luxury_assets_value',axis=1)
df=df.drop('bank_asset_value',axis=1)

In [26]:
df['education'] = df['education'].replace({' Graduate': 1, ' Not Graduate': 0})
df['self_employed'] = df['self_employed'].replace({' Yes': 1, ' No': 0})
df['loan_status'] = df['loan_status'].replace({' Approved': 1, ' Rejected': 0})

C:\Users\ASUS\AppData\Local\Temp\ipykernel_6240\1139203876.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['education'] = df['education'].replace({' Graduate': 1, ' Not Graduate': 0})
C:\Users\ASUS\AppData\Local\Temp\ipykernel_6240\1139203876.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['self_employed'] = df['self_employed'].replace({' Yes': 1, ' No': 0})
C:\Users\ASUS\AppData\Local\Temp\ipykernel_6240\1139203876.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['loan_status'] = df['loan_status'].replace({' Approved': 1, ' Rejected': 0})

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   no_of_dependents    4269 non-null   int64
 1   education           4269 non-null   int64
 2   self_employed       4269 non-null   int64
 3   income_annum        4269 non-null   int64
 4   loan_amount         4269 non-null   int64
 5   loan_term           4269 non-null   int64
 6   cibil_score         4269 non-null   int64
 7   loan_status         4269 non-null   int64
 8   total_assets_value  4269 non-null   int64
dtypes: int64(9)
memory usage: 300.3 KB
None

In [28]:
df

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,total_assets_value
0,2,1,0,9600000,29900000,12,778,1,50700000
1,0,0,1,4100000,12200000,8,417,0,17000000
2,3,1,0,9100000,29700000,20,506,0,57700000
3,3,1,0,8200000,30700000,8,467,0,52700000
4,5,0,1,9800000,24200000,20,382,0,55000000
...,...,...,...,...,...,...,...,...,...
4264,5,1,1,1000000,2300000,12,317,0,7400000
4265,0,0,1,3300000,11300000,20,559,1,20000000
4266,2,0,0,6500000,23900000,18,457,0,39000000
4267,1,0,0,4100000,12800000,8,780,1,28800000
4268,1,1,0,9200000,29700000,10,607,1,77300000

In [29]:
from sklearn.model_selection import train_test_split
X = df.drop('loan_status', axis=1)
y = df['loan_status']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [31]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
confusion_mat = confusion_matrix(y_test, y_pred)

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)
print("Confusion Matrix:\n", confusion_mat)

Accuracy: 0.9800936768149883
Precision: 0.9779005524861878
Recall: 0.9906716417910447
F1-score: 0.9842446709916589
Confusion Matrix:
 [[306  12]
 [  5 531]]

In [32]:
importances = model.feature_importances_
feature_names = X.columns
feature_importances = pd.Series(importances, index=feature_names)

print("Feature Importances:")
print(feature_importances.sort_values(ascending=False))

Feature Importances:
cibil_score           0.813934
loan_term             0.062389
loan_amount           0.038569
total_assets_value    0.034409
income_annum          0.030089
no_of_dependents      0.012793
education             0.003963
self_employed         0.003854
dtype: float64

In [33]:
print("Class distribution in the training set:")
print(y_train.value_counts())

Class distribution in the training set:
loan_status
1    2120
0    1295
Name: count, dtype: int64

In [34]:
approved_loan_data = {
    'no_of_dependents': 2,
    'education': 1,
    'self_employed': 0,
    'income_annum': 600000,
    'loan_amount': 500000,
    'loan_term': 36,
    'cibil_score': 750,
    'total_assets_value': 1200000
}
input_df=pd.DataFrame(approved_loan_data,index=[0])
predicted_status = model.predict(input_df)
print(predicted_status)

[1]

In [45]:
rejected_loan_data = {
    'no_of_dependents': 4,
    'education': 0,  # Assuming 3 represents Associate's
    'self_employed': 1,
    'income_annum': 300000,
    'loan_amount': 50000,
    'loan_term': 60,
    'cibil_score': 750,
    'total_assets_value': 600000
}
input_df=pd.DataFrame(rejected_loan_data,index=[0])
predicted_status = model.predict(input_df)
print(predicted_status)

[0]